<extend name="index/index" />
<block name="main">
    <!--内容部分start-->
    <div class="main-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">作品管理</a><span class="crumb-step">&gt;</span><span>新增作品</span></div>
        </div>
        <div class="content" style="margin:10px 0 0 10px;">           
            <form action="/index.php?m=admin&c=post&a=update" method="post">
                <input type="hidden" name="pid" value="{$post['pid']}">
                <table height="60">
                    <tr>
                        <th><label>内容 ： </label></th>
                        <td><textarea name="rcontent" rows="12" cols="80">{$replys['rcontent']}</textarea></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                        </td>
                    </tr>  
                </table>
            </form>
                
        </div>
        <!--内容部分end-->
    </div>
    
</block>